<?xml version="1.0"?>
<config>
    <modules>
        <Ffm_Holidaythemes>
            <version>0.1.0</version>
        </Ffm_Holidaythemes>
    </modules>
    <global>
        <blocks>
            <ffm_holidaythemes>
                <class>Ffm_Holidaythemes_Block</class>
            </ffm_holidaythemes>
        </blocks>
        <helpers>
            <ffm_holidaythemes>
                <class>Ffm_Holidaythemes_Helper</class>
            </ffm_holidaythemes>
        </helpers>
        <models>
            <ffm_holidaythemes>
                <class>Ffm_Holidaythemes_Model</class>
            </ffm_holidaythemes>
        </models>
        <resources>
            <ffm_holidaythemes_setup>
                <setup>
                    <module>Ffm_Holidaythemes</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ffm_holidaythemes_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ffm_holidaythemes>
                    <file>ffm_holidaythemes.xml</file>
                </ffm_holidaythemes>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <ffm_holidaythemes_core_block_abstract_to_html_before>
                        <type>singleton</type>
                        <class>Ffm_Holidaythemes_Model_Observers_AddMyAccountSection</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </ffm_holidaythemes_core_block_abstract_to_html_before>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ffm_Holidaythemes before="Mage_Adminhtml">Ffm_Holidaythemes_Adminhtml</Ffm_Holidaythemes>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
